@model IEnumerable<Web_bh.Models.ThongKeTheoNam>
@{
    ViewBag.Title = "ThongKeTheoNam";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminPage.cshtml";
}

&emsp;<div class="panel panel-default" >
    <div class="panel-heading">
        <div class="panel-body">
            
            <div class="table-responsive">
                <br />
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Năm</th>
                            <th>Tổng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Nam)</td>
                                <td>@Html.DisplayFor(modelItem => item.Tong)</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
            </div>
        </div>
    </div>
</div>